*.pyc
.ipynb*
dev/
pyspch.egg-info/
psi-pyspch.code-workspace
pyspch/nn/evaluate.py
pyspch/nn/layers/custom_linear.py
pyspch/nn/layers/__init__.py
pyspch/nn/utils.py
pyspch/nn/plot.py
pyspch/nn/models_tryout.py
pyspch/nn/gym.py
.DS_Store
pyspch/.DS_Store
